
<div>
    <button mat-mini-fab color="accent" class="next-button" (click)="toNext()">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>

<div class="main-div">
  
    <mat-card  *ngIf="(datas$ | async)?.channel as channel "    class="actu-card"  >
        <mat-card-header>
          
          <div *ngIf="(logo$ | async) as logo "   mat-card-avatar [ngStyle]="{'background-image':'url(' + logo + ')' ,'background-size': 'cover' }"   >
          </div>
          
        
          <mat-card-title>{{channel.title}}</mat-card-title>
          <mat-card-subtitle>{{channel.lastdate | date:'medium' }}</mat-card-subtitle>
          <mat-card-subtitle>{{channel.copyright}}</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
          <p>
            {{channel.description}}
          </p>
          <p>
            <a href="{{channel.link}}" target="_blank" >{{channel.link}}</a>
          </p>
        </mat-card-content>
      </mat-card>
  
      <mat-card *ngFor="let item of (datas$ | async)?.items"  class="actu-card"  >
          <mat-card-header>
              <div *ngIf="(logo$ | async) as logo "   mat-card-avatar [ngStyle]="{'background-image':'url(' + logo + ')' ,'background-size': 'cover' }"   >
                </div>
                
               
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-subtitle>{{item.date | date:'medium' }}</mat-card-subtitle>
          </mat-card-header>
          <img  *ngIf="item.img"  mat-card-image src="{{item.img}}"  >
          <mat-card-content>
         
              <div [innerHTML]="item.description"></div> 
          
          </mat-card-content>
          <div *ngFor="let itimg of (item)?.images">
            <img  mat-card-sm-image src="{{itimg}}"  >
  
          </div>
    
        </mat-card>
    
      </div>