
<div>
    <button mat-mini-fab color="accent" class="add-button" (click)="toNext()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

<div class="main-div">
  
    <mat-card  *ngIf="(datas$ | async)?.channel as channel "  class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{channel.title}}</mat-card-title>
          <mat-card-subtitle>{{channel.lastdate}}</mat-card-subtitle>
          <mat-card-subtitle>{{channel.copyright}}</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
          <p>
            {{channel.description}}
          </p>
          <p>
              {{channel.link}}
            </p>
        </mat-card-content>
      </mat-card>
  
      <mat-card *ngFor="let item of (datas$ | async)?.items" class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-subtitle>{{item.date}}</mat-card-subtitle>
          </mat-card-header>
          <img  *ngIf="item.img"  mat-card-image src="{{item.img}}"  >
          <mat-card-content>
            <p>
              {{item.description}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>