<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Formulaire Engagement</span>
      </mat-toolbar-row>
</mat-toolbar>


<form fxLayoutAlign="center center" style="margin-top:20px;" autocomplete="off" [formGroup]="dataForm" novalidate>

    <div  *ngIf="data?.valide === false" fxLayout="column" fxLayoutAlign="center center" fxFlex="75vh">
            <h2 matLine>{{data?.message}}</h2>
            <div style="margin-top:10px;" fxLayoutAlign="center center">
            <button mat-raised-button color="primary"  (click)="quitte()">Quitter</button>
            </div>
    </div> 


    <div fxLayout="column" *ngIf="data?.valide === true" fxLayoutAlign="center center" fxFlex="60vh">
        <h2 class="mat-h2" matLine>{{data?.message}}</h2> 
      <div fxLayoutAlign="center center" fxLayout="column"  >
          <mat-list *ngFor="let item of data?.engage" >
              <mat-list-item  >   
                  <button mat-button color="primary">{{item.date | date: 'dd MMMM'}}</button>
                <mat-radio-group formControlName="{{item.id}}" fxLayout="row"  >
                  <mat-radio-button value="oui" [checked]="item.presence === 'oui'"  color="primary" style="margin: 5px;" >Oui</mat-radio-button>
                  <mat-radio-button value="non" [checked]="item.presence === 'non'" color="primary" style="margin: 5px;" >Non</mat-radio-button>
                </mat-radio-group>
              </mat-list-item>
              <mat-divider></mat-divider>
             </mat-list>
             <p>
          <mat-form-field *ngIf="data?.choixnages === true"  style='width:50vw' >
              <textarea formControlName="commentaire" matInput placeholder="saisir le choix des nages ...."></textarea>
          </mat-form-field>
          </p>
        
      </div>



      <div style="margin-top:10px;" fxLayoutAlign="center center">
          <button mat-raised-button color="primary" [disabled]="dataForm.invalid" (click)="validate()">Valider</button>
        </div>
</div>
</form>



