
.example-container {
    width: 100%;
    _height: 100%;
    /*calc(100vh - 200px);*/
    _overflow-y:auto;
    _position: absolute;
    _height: 100%;
    _max-height: 96%;
    _overflow: auto;
    background: rgb(243, 245, 242);
    _min-height: 100% !important;
    min-height: 100vh;

    _border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
 
  .example-sidenav {
    background: #c3ccbe;
    padding: 20px;
  }


  
  .example-sidenav-content {
    height: 100%;
    margin:auto;
    width : 95%;
    background: rgb(243, 245, 242);
 
  }
 
 button .smallbutton {
    padding: 0px;
    margin: 0px;
    height: auto;
    width: auto;
min-height: 10px;

  }

  .my-tooltip {
    white-space: pre-line;
    background: #b17d00;
    
}