<mat-toolbar color="primary">Engagements

  <div  fxLayout="column"  fxFlex="100" fxLayoutAlign="center center" style='margin-top: 10px' [fxShow]="isCreated" >
 

      <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center"  style='font-size: 14px'   >
          

          <mat-form-field fxFlex="25" fxFlexOffset="3" >
              <mat-select  color="primary" placeholder="Présence" [(ngModel)]="filtre.pre" name="pre" (ngModelChange)="doFilter()" >
                  <mat-option *ngFor="let p of pre" [value]="p.value">
                    {{p.viewValue}}
                  </mat-option>
                </mat-select>
          </mat-form-field>
   
          <mat-form-field fxFlex="25" fxFlexOffset="3" >
              <mat-select  color="primary" placeholder="Extranat" [(ngModel)]="filtre.ext" name="pre" (ngModelChange)="doFilter()" >
                  <mat-option *ngFor="let p of ext" [value]="p.value">
                    {{p.viewValue}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
  
  
              <mat-form-field fxFlex="25" fxFlexOffset="3" >
                  <mat-select  color="primary" placeholder="Notifications" [(ngModel)]="filtre.notif" name="pre" (ngModelChange)="doFilter()" >
                      <mat-option *ngFor="let p of notif" [value]="p.value">
                        {{p.viewValue}}
                      </mat-option>
                    </mat-select>
                 </mat-form-field>
  
         
  
            </div>
  
     
  
   </div>






</mat-toolbar>






  <div fxLayout="column" fxLayoutAlign="center center" style="margin-top: 10px;">
 
    <div fxLayout="row" style="margin-top: 10px;">

      <button mat-mini-fab color="primary" *ngIf="isCreated" (click)="sendMails()">
        <mat-icon aria-label="email">email</mat-icon>
      </button>

      <mat-form-field [ngStyle]="{'width': '600px','margin-left': '10px', 'margin-right':'10px' }" [ngStyle.lt-md]="{'width': '220px','margin-left' :'5px', 'margin-right' :'5px'}">
        <mat-select placeholder="Selection des compétitions" (ngModelChange)="setCompetition($event)" [formControl]="dataForm">

          <mat-option *ngFor="let item of datas$ | async ; last as last" [value]="item.id">
            {{item.id}} - {{item.label}}
          </mat-option>


        </mat-select>
      </mat-form-field>

      <button mat-mini-fab mat-icon-button *ngIf="isCreated"  color="primary" (click)="addLic()">
        <mat-icon aria-label="add">add</mat-icon>
      </button>
      &nbsp;
      <button mat-mini-fab mat-icon-button *ngIf="isCreated"  color="warn" (click)="delAll()">
          <mat-icon aria-label="add">delete</mat-icon>
        </button>


    </div>


    <app-engagement-create *ngIf="idc != -1 && !isCreated" [id]="idc"  (created)="setCreated($event)"   ></app-engagement-create>



    <div fxFlex >
      
      <mat-list *ngIf="isCreated" [ngStyle]="{'width': '800px'}" [ngStyle.lt-sm]="{'width': '350px'}">
    
        
        
        <h2 mat-subheader>Les Engagements ({{(engage$ | async)?.length}})</h2>
       
        <mat-list-item *ngFor="let item of engage$ | async ; last as last1" 
 
        style='margin-bottom:10px' class="mat-elevation-z4"     matRipple [matRippleCentered]="centered" [matRippleColor]="warn" >
    
          <p matLine style="margin-top:4em">
            <span class="mat-body-2">{{item.prenom}} {{item.nom}} ({{item.categorie}}{{item.rang}}-{{item.sexe}})</span>
          </p>
    
          <div *ngFor="let node of item.eng;" [ngSwitch]="node.presence">
            <button mat-mini-fab *ngSwitchCase="'non'" color="warn"  ><s>{{node.day}}</s></button>
            <button mat-mini-fab *ngSwitchCase="'oui'" color="primary" >{{node.day}}</button>
            <button mat-mini-fab *ngSwitchDefault >{{node.day}}?</button>
            &nbsp;&nbsp;
          </div>
    
          <div matLine style='margin-bottom:2em;' >
            &nbsp;
            <button mat-icon-button style='margin-bottom:2em;' (click)="setNotification(item.id)" >
              <mat-icon aria-label="Email"   matBadge="{{item.notification}}" matBadgeSize="medium" matBadgePosition="before"
              [ngStyle]="{color: item.notification > 0 ? 'green' : 'red' }"  >contact_mail</mat-icon>
            </button>
            &nbsp;&nbsp;
            <button mat-icon-button color="primary"  (click)="setExtranat(item.id)" *ngIf="item.notification > 0" >
              <mat-icon aria-label="Extranat" [ngStyle]="{color: item.extranat === 1 ? 'green' : 'red' }" matBadge="{{item.extranat}}" matBadgeSize="medium" matBadgePosition="before">save</mat-icon>
            </button>
            <button mat-icon-button color="primary"  (click)="setDelete(item.id)"  *ngIf="item.notification === 0" >
              <mat-icon aria-label="Extranat" style='color:red' >delete</mat-icon>
            </button>
            
           
            &nbsp;&nbsp;&nbsp;&nbsp;
    
            <mat-form-field style="min-width:10px;max-width:400px;width:100%"    > 
              <input   matInput placeholder="commentaires" readonly value="{{item.comment}}" >
            </mat-form-field>
    
          </div>
    
          <mat-divider inset *ngIf="!last"></mat-divider>
        </mat-list-item>
    
    
      </mat-list>
    </div>



  </div>


