.CLUB{
background-color:green;
color:white;
}
.DEP{
background-color:orange;
color:white;
    }
.REG{
background-color:rgb(113, 0, 128);
color:white;
}
.FRA{
background-color:rgb(173, 214, 173);
color:white;
}