<div  class='logoecn'  >

  <img class ='imgecn2'  width="800"   height="267" *ngIf="(layoutChanges | async)?.matches"
  src="assets/images/logo_ecn.svg" >



    <div    *ngIf="!(layoutChanges | async)?.matches" fxLayoutAlign="center center" style="margin-top:5px;" >
      <mat-grid-list cols="2" rowHeight="2:1" style="width:90%;"  >
 
          <mat-grid-tile><button routerLink="/actualites" mat-raised-button color="primary">Actualités</button></mat-grid-tile> 
          <mat-grid-tile><button routerLink="/competitions" mat-raised-button color="primary">Compétitions</button></mat-grid-tile>
          <mat-grid-tile><button routerLink="/records" mat-raised-button color="primary">Records</button></mat-grid-tile>
          <mat-grid-tile><button routerLink="/piscines" mat-raised-button color="primary">Piscines</button></mat-grid-tile>
          <mat-grid-tile><button routerLink="/stats" mat-raised-button color="primary">Stats</button></mat-grid-tile>
        
      </mat-grid-list>

    </div>



</div>
