
.logoecn {

    display: inline-block;
    position: relative;
    width: 100%;
    _padding-bottom: 100%;
    _vertical-align: middle;
    _overflow: hidden;
    margin-top:10%;
    //margin: auto;
    text-align:center;

    
   

}