<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Formulaire Adhésion</span>
  </mat-toolbar-row>

</mat-toolbar>


<form fxLayoutAlign="center center" style="margin-top:20px;" autocomplete="off" [formGroup]="dataForm" novalidate>

  <div fxLayout="column" fxFlex="75%">

    <div fxLayoutAlign="center center" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" >
        <div fxLayoutAlign="start center" fxFlex="50%" >
      <mat-icon color="primary">account_box</mat-icon>
      <mat-form-field fxFlex="100%" style="margin-left:1%"   >
        <input matInput placeholder="Nom*" formControlName="nom" fxFlex="70%">
        <mat-error>Le nom est requis</mat-error>
      </mat-form-field>
    </div>
      <div fxLayoutAlign="start center" fxFlex="50%" >
      <mat-icon color="primary">account_circle</mat-icon>
      <mat-form-field fxFlex="100%" style="margin-left:1%" >
        <input matInput placeholder="Prénom*" formControlName="prenom" fxFlex="70%">
        <mat-error>Le prénom est requis</mat-error>
      </mat-form-field>
      </div>
    </div>

    <div fxLayoutAlign="start center" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" >
        <div fxLayoutAlign="start center" fxFlex="50%" >
      <mat-icon color="primary">calendar_today</mat-icon>
      <mat-form-field fxFlex="90%" style="margin-left:1%"  >
        <input required matInput [matDatepicker]="date" [max]="maxDate"   placeholder="Date Naissance" (click)="date.open()" 
          formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="date"  fxHide.lt-md ></mat-datepicker-toggle>
        <mat-datepicker #date startView="multi-year"  ></mat-datepicker>
        <mat-error>La date de naissance est requise</mat-error>
      </mat-form-field>
      </div>
      <div fxLayoutAlign="start center" fxFlex="20%" >
      <mat-form-field fxFlex="100%"  fxFlexAlign="baseline" style="margin-left:1%"  >
        <mat-select placeholder="Sexe*" formControlName="sexe">
          <mat-option value="F">Femme</mat-option>
          <mat-option value="H">Homme</mat-option>
        </mat-select>
        <mat-error>Le sexe est requis</mat-error>
      </mat-form-field>
      </div>
    </div>


    <div fxLayoutAlign="center center" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" >
      <div fxLayoutAlign="start center" fxFlex="55%" >
      <mat-icon color="primary">place</mat-icon>
      <mat-form-field fxFlex="100%"   style="margin-left:1%"  >
        <input matInput placeholder="Adresse*" formControlName="adresse">
        <mat-error>Une adresse est requise</mat-error>
      </mat-form-field>
    </div>
    <div fxLayoutAlign="start center" fxFlex="35%" >
      <mat-icon color="primary">home</mat-icon>
      <mat-form-field fxFlex="100%"   style="margin-left:1%"  >
        <input matInput placeholder="Ville*" formControlName="ville">
        <mat-error>La ville est requise</mat-error>
      </mat-form-field>
    </div>
      <mat-form-field  fxFlex="10%" >
        <input #cp maxlength="5" matInput placeholder="Code postal*" formControlName="cp">
        <mat-hint align="end">{{cp.value.length}} / 5</mat-hint>
        <mat-error>Le cp est requis</mat-error>
      </mat-form-field>
    </div>




    <div fxLayoutAlign="center center" fxLayout="row"  fxLayout.lt-md="column" fxLayoutGap="10px" >
        <div fxLayoutAlign="start center" fxFlex="33%"  >
      <mat-icon color="primary">email</mat-icon>
      <mat-form-field fxFlex="100%"  style="margin-left:1%"  >
        <input matInput placeholder="Adresse email" formControlName="email1" f>
        <mat-error>une adresse email valide est requise</mat-error>
        <mat-hint><strong>1/3 adresse email obligatoire*</strong></mat-hint>
      </mat-form-field>
        </div>
      <div fxLayoutAlign="start center" fxFlex="33%"  >
      <mat-icon color="primary">email</mat-icon>
      <mat-form-field fxFlex="100%"  style="margin-left:1%">
        <input matInput placeholder="Adresse email" formControlName="email2" >
        <mat-error>une adresse email valide est requise</mat-error>
      </mat-form-field>
    </div>
    <div fxLayoutAlign="start center" fxFlex="33%"  >
      <mat-icon color="primary">email</mat-icon>
      <mat-form-field fxFlex="100%"  style="margin-left:1%">
        <input matInput placeholder="Adresse email" formControlName="email3">
        <mat-error>une adresse email valide est requise</mat-error>
      </mat-form-field>
      </div>
    </div>


    <div fxLayoutAlign="center center" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
        <div fxLayoutAlign="start center" fxFlex="33%"  >
      <mat-icon color="primary">phone</mat-icon>
      <mat-form-field fxFlex="100%"  style="margin-left:1%">
        <input maxlength="10" matInput placeholder="Téléphone" formControlName="tel1" >
        <mat-hint align="start"><strong>1/3 numéro de tel. obligatoire*</strong> </mat-hint>
        <mat-error>un numéro de tel. valide est requis</mat-error>
      </mat-form-field>
    </div>
      <div fxLayoutAlign="start center" fxFlex="33%"  >
      <mat-icon color="primary">phone</mat-icon>
      <mat-form-field fxFlex="100%" style="margin-left:1%">
        <input maxlength="10" matInput placeholder="Téléphone" formControlName="tel2" >
        <mat-error>un numéro de tel. valide est requis</mat-error>
      </mat-form-field>
      </div>
      <div fxLayoutAlign="start center" fxFlex="33%" >
      <mat-icon color="primary">phone</mat-icon>
      <mat-form-field fxFlex="100%"  style="margin-left:1%">
        <input maxlength="10" matInput placeholder="Téléphone" formControlName="tel3" >
        <mat-error>un numéro de tel. valide est requis</mat-error>
      </mat-form-field>
    </div>
    </div>

    <div style="margin-top:10px;" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" [disabled]="dataForm.invalid" (click)="sendAdhesion()">Valider</button>
    </div>
  </div>
</form>