<mat-toolbar color="primary">
    <span>Login</span>
  </mat-toolbar>
  
  <form   autocomplete="off" [formGroup]="dataForm"   novalidate>  

  <div style="margin-top:35px" >
      <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100"> 
        <mat-icon color="primary" >perm_identity</mat-icon>
        <mat-form-field  fxFlex="40" >
          <input matInput placeholder="Utilisateur"  formControlName="user"  >
          <mat-error>une adresse email valide est requise</mat-error>
          <mat-hint>Veuillez saisir votre adresse email</mat-hint>
        </mat-form-field>
      </div>
      </div>

      <div style="margin-top:15px" >
          <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100"> 
            <mat-icon color="primary" >lock</mat-icon>
            <mat-form-field  fxFlex="40" >
              <input matInput placeholder="Mot de passe"   formControlName="pwd"  >
              <mat-error>un mot de passe requis</mat-error>
              <mat-hint>Veuillez saisir votre mot de passe</mat-hint>
            </mat-form-field>
          </div>
          </div>
          
          <div  style="margin-top:15px" >
          <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxLayoutGap="20px">
          <button mat-raised-button color="primary"  [disabled]="dataForm.invalid"  (click)="doSignUp()"  >
              <mat-icon>play_arrow</mat-icon>
              Login</button>
              <mat-error [fxShow]='meta.error'  >{{meta.message}}</mat-error>
            </div>
       
          </div>

</form>
