<div    fxLayoutAlign="center center" style="margin-top:10px;" >
<mat-grid-list cols="2" rowHeight="4:1" style="width:85%;"  >
    <mat-grid-tile style="background-color: grey" > <button (click)="deleteCompetitions()"  mat-raised-button color="primary">Réinitialiser Competitions</button></mat-grid-tile>
    <mat-grid-tile style="background-color: rgb(42, 165, 124)" > <button (click)="deleteEngagements()" mat-raised-button color="primary">Réinitialiser Engagements</button></mat-grid-tile>
    <mat-grid-tile style="background-color: rgb(42, 165, 124)"> <button mat-raised-button color="primary">Création Licenciés Saison Suivante</button></mat-grid-tile>
    <mat-grid-tile style="background-color: rgba(109, 73, 129, 0.432)" > <button mat-raised-button color="primary">Primary</button></mat-grid-tile>
  </mat-grid-list>

</div>
  
<!--
<mat-grid-list cols="1" rowHeight="9:1" style="width:85%;"  >
    <mat-grid-tile style="background-color: grey" > <button mat-raised-button color="primary">Reinitialiser Competitions</button></mat-grid-tile>
    <mat-grid-tile style="background-color: rgb(42, 165, 124)" > <button mat-raised-button color="primary">Reinitialiser Engagements</button></mat-grid-tile>
    <mat-grid-tile style="background-color: rgb(42, 165, 124)"> <button mat-raised-button color="primary">Creation Licencies</button></mat-grid-tile>
    <mat-grid-tile style="background-color: rgba(109, 73, 129, 0.432)" > <button mat-raised-button color="primary">Primary</button></mat-grid-tile>
  </mat-grid-list>

  -->