<div class="comp-body mat-elevation-z10" >

  <form style='margin-top:10px' name="form" autocomplete="off" [formGroup]="dataForm" novalidate  >


    <div fxLayout="row" fxLayout.lt-sm="column"   fxLayoutAlign="start baseline" >

      <mat-form-field fxFlex="40" fxFlex.lt-sm="85"  fxFlexOffset="5" >
        <input matInput placeholder="Nom" formControlName="nom" required  >
        <mat-hint align="start" *ngIf="( dataForm.get('nom').hasError('required') ||  dataForm.get('nom').hasError('minlength') ) && dataForm.get('nom').dirty "
          [ngStyle]="{'color': 'red','font-size':'12px'}">
          *Nom sur 5 charactères minimum
        </mat-hint>
      </mat-form-field>


      <mat-form-field fxFlex="20"  fxFlex.lt-sm="85"  fxFlexOffset="5"  >
        <input matInput placeholder="Lieu" formControlName="lieu" required>
        <mat-hint align="start" *ngIf="( dataForm.get('lieu').hasError('required') ||  dataForm.get('lieu').hasError('minlength') ) && dataForm.get('lieu').dirty "
          [ngStyle]="{'color': 'red','font-size':'12px'}">
          *Lieu sur 4 charactères minimum
        </mat-hint>
      </mat-form-field>

    </div>
    <div fxLayout="row" fxLayout.lt-sm="column"  fxLayoutAlign="start baseline" style='margin-top:10px'>


      <mat-form-field fxFlex="15"   fxFlexOffset="5" fxFlexOffset.lt-sm="2" >
        <input required matInput [matDatepicker]="debut" placeholder="Début" (click)="debut.open()" (dateChange)="onDateStart($event)"
          formControlName="debut">
        <mat-datepicker-toggle matSuffix [for]="debut"></mat-datepicker-toggle>
        <mat-datepicker #debut></mat-datepicker>
      </mat-form-field>
      <mat-form-field fxFlex="15" fxFlexOffset="5">
        <input required matInput [matDatepicker]="fin" readonly placeholder="Fin" (click)="fin.open()" formControlName="fin">
        <mat-datepicker-toggle matSuffix [for]="fin"></mat-datepicker-toggle>
        <mat-datepicker #fin></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex="15" fxFlexOffset="5">
        <input required matInput [matDatepicker]="limite" readonly placeholder="Date Limite" (click)="limite.open()"
          formControlName="limite">
        <mat-datepicker-toggle matSuffix [for]="limite"></mat-datepicker-toggle>
        <mat-datepicker #limite></mat-datepicker>
      </mat-form-field>

      <mat-form-field floatLabel="auto" fxFlex="6" fxFlexOffset="5">
        <mat-select required placeholder="Heure" name="heure" formControlName="heure">
          <mat-option *ngFor="let n of ['07','08','09','10','11','12','13','14']" [value]="n">
            {{n}}h
          </mat-option>
        </mat-select>
      </mat-form-field>


    </div>

    <div fxLayout="row" fxLayoutAlign="start baseline" style='margin-top:2px' *ngIf="dataForm.hasError('dateError')">
      <div fxFlexOffset="5">
        <mat-hint align="start" [ngStyle]="{'color': 'red','font-size':'12px'}">
          Les dates sont incompatibles !
        </mat-hint>
      </div>
    </div>




    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start baseline" style='margin-top:10px'>


      <mat-form-field floatlabel="auto" fxFlex="6" fxFlexOffset="5">
        <mat-select placeholder="Bassin" name="bassin" formControlName="bassin">
          <mat-option *ngFor="let bassin of meta.bassin" [value]="bassin.value">
            {{bassin.name}}
          </mat-option>

        </mat-select>
      </mat-form-field>

      <mat-form-field floatlabel="auto" fxFlex="10" fxFlexOffset="5">
        <mat-select placeholder="Type" name="type" formControlName="type" >
          <mat-option *ngFor="let type of meta.type" [value]="type.value">
            {{type.name}}
          </mat-option>

        </mat-select>

      </mat-form-field>




      <mat-form-field fxFlexOffset="2" *ngIf=" dataForm.controls['type'].value === 'stage' " fxFlex="5">
        <input required matInput placeholder="Max" formControlName="max" maxlength="3">
        <mat-hint align="start" *ngIf="( dataForm.get('max').hasError('required') ||  dataForm.get('max').hasError('pattern') ) && dataForm.get('max').dirty "
          [ngStyle]="{'color': 'red','font-size':'12px'}">
          *nombre>0
        </mat-hint>
      </mat-form-field>

      <div fxFlexOffset="5" fxFlex="15" *ngIf=" dataForm.controls['type'].value === 'compet' ">
        <mat-checkbox name="choixnages" formControlName="choixnages">Choix nages</mat-checkbox>
      </div>

      <mat-form-field floatlabel="auto" fxFlex="10" fxFlexOffset="5">
        <mat-select required placeholder="Entraineur" name="entraineur" formControlName="entraineur">
          <mat-option *ngFor="let entr of meta.entraineur" [value]="entr.value">
            {{entr.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>



    </div>
    <div fxLayout="row"  fxLayout.lt-sm="column wrap" fxLayoutAlign="start baseline" style='margin-top:20px'>

      <div fxFlexOffset="5" fxLayout="row wrap" fxLayoutAlign="start center" formGroupName="categories">
        <span>Categories*:&nbsp;&nbsp;&nbsp;</span>
        <mat-checkbox formControlName="av">Av</mat-checkbox>&nbsp;
        <mat-checkbox formControlName="je">Je</mat-checkbox>&nbsp;
        <mat-checkbox formControlName="dep">Dep</mat-checkbox>&nbsp;
        <mat-checkbox formControlName="reg">Reg</mat-checkbox>&nbsp;
        <mat-checkbox formControlName="nat">Nat</mat-checkbox>&nbsp;
        <mat-checkbox formControlName="ma">Mas</mat-checkbox>&nbsp;
      </div>

      <div fxFlexOffset="3" fxFlex="10">
        <mat-checkbox formControlName="verif">Vérification</mat-checkbox>
      </div>


    </div>



    <div fxLayout="row" fxLayoutAlign="start center" style='margin-top:20px'>
      <mat-form-field fxFlex="50" fxFlexOffset="5">
        <textarea matInput matTextareaAutosize matAutosizeMaxRows="3" formControlName="commentaires" placeholder="Commentaires"></textarea>
      </mat-form-field>

      <mat-form-field fxFlex="25" fxFlexOffset="2">
        <input matInput formControlName="lien" placeholder="Lien">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">

      <button mat-raised-button color="primary" [disabled]="dataForm.invalid || dataForm.get('nb').value > 0  " (click)="saveForm()" type="button">Valider</button>
      <button mat-raised-button color="primary" fxFlexOffset='3' (click)="doquitte()" type="button">Annuler</button>
    </div>




  </form>
  <br>
  <br>
</div>