<mat-toolbar color="primary">
Les Logins
<div fxHide.lt-md="true" fxFlex fxLayout="column"  fxLayoutAlign="center center" style='margin-top: 10px'  >
 

    <div fxLayout="row" fxFlex fxLayoutAlign="center baseline"  style='font-size: 14px'   >
      <mat-form-field fxFlex="80" fxFlexOffset="1" >
        <input   matInput (keyup)="tokeyup(filtre.user)" placeholder="email" [(ngModel)]="filtre.user">
        <button mat-button *ngIf="filtre.user" matSuffix mat-icon-button aria-label="Clear" (click)="clearfiltre()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
  <mat-form-field fxFlex="20" fxFlexOffset="3" >
  <mat-label>Profile</mat-label>
  <mat-select [(ngModel)]="filtre.profile" (ngModelChange)="subject$.next(filtre)"  >
    <mat-option *ngFor="let p of profiles" [value]="p.value">
      {{p.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
    </div>
  </div>

</mat-toolbar>
<app-edit  *ngIf="dataSelected" [data]='dataSelected' (quitte)='dataSelected=null' ></app-edit>

<div style='width:80%;margin:0 auto' *ngIf="!dataSelected" >
    <mat-list>
        
        <mat-list-item *ngFor="let data of filteredStates$ | async ; last as last" (click)="edit(data)"
            style='margin-bottom:20px' class="mat-elevation-z8" matRipple [matRippleCentered]="centered"
            [matRippleColor]="warn">
            <button mat-icon-button color='warn' (click)="delete(data);$event.stopPropagation()">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button color='primary' (click)="tomail(data);$event.stopPropagation()">
                    <mat-icon>email</mat-icon>
                </button>

            <p style="font-weight:500" matLine>
                <button mat-icon-button color='{{data.color}}' (click)="edit(data);$event.stopPropagation()">
                    <mat-icon>{{ data.icon }}</mat-icon>
                </button>
                [{{data.profile}}] {{data.user}} || {{data.passwd}}
            </p>
        </mat-list-item>
    </mat-list>
    <div>
            <button mat-mini-fab color="primary" class="add-button" (click)="add()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
</div>