.compet-icon {
    padding: 0 14px;
  }
.compet-spacer {
    flex: 1 1 auto;
  }

  .text {
    display: block;
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  } 

  .text {
    display: block;
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }