

 
       
    <form  fxLayout="row"  fxLayoutAlign="space-evenly  center"    style="margin-top: 10px;"   autocomplete="off" [formGroup]="dataForm" novalidate>

    <div fxLayout="column"  fxFlex="70%"  fxLayoutAlign="space-evenly  center"  >

    <div   fxLayout="row"   >
      <mat-form-field  fxFlex="50%" >
          <mat-select placeholder="From"   formControlName="from2"  >
              <mat-option *ngFor="let from of typeDatas?.from" [value]="from.value" >{{from.text}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="15%" fxFlexOffset="3%" fxFlexAlign="baseline"  >
                <mat-select placeholder="mode" [(value)]="mode"  (selectionChange)=setMode($event) >
                        <mat-option>-</mat-option>
                    <mat-option *ngFor="let m of typeMode" [value]="m.value">{{m.text}}</mat-option>
                </mat-select>
              </mat-form-field>
    </div>

    <div fxLayout="row" *ngIf="mode === 'l' " >
            <mat-form-field  fxFlex="60%" >
                    <mat-select placeholder="Destinataires"   formArrayName="dests" multiple>
                            <mat-option *ngFor="let dest of typeDatas?.dests" [value]="dest.value" >{{dest.text}}</mat-option>
                            <mat-option *ngFor="let lic of typeDatas?.lic" [value]="lic.id" >{{lic.nom}}</mat-option>
                      </mat-select>
                  </mat-form-field>
    
        </div>


    <div   fxLayout="row" *ngIf="mode === 'c' "  >
      <mat-form-field fxFlex="50%"  fxFlexAlign="baseline">
          <mat-select placeholder="Compétitions en cours..."   formControlName="compet" >
            <mat-option *ngFor="let c of typeDatas?.comp" [value]="c.id" >{{c.nom}} [{{c.lieu}}]</mat-option>
            </mat-select>
      
        </mat-form-field>
        <mat-form-field fxFlex="15%" fxFlexOffset="3%" fxFlexAlign="baseline" >
                <mat-select placeholder="choix"  formArrayName="choix"  multiple>
                    <mat-option *ngFor="let choix of typeChoix" [value]="choix">{{choix}}</mat-option>
                </mat-select>
              </mat-form-field>
    </div>
    <div >
        <quill-editor fxFlex="70%" placeholder="Saisir un contenu !" [modules]="quilltoobar"   [style]="{ 'height':'200px','background-color': 'lightgrey'}"  formControlName="body" [modules]="quilltoobar" ></quill-editor>
    </div>
    <div style="margin-top:10px;" >
        <button mat-raised-button color="primary" (click)="sendMail()" >Envoyer</button>
    </div> 
    </div>
  
    </form>


 



