<div class="mat-elevation-z10" fxLayout="column" style="margin:15px" fxLayoutAlign="center center">
  <form name="form" autocomplete="off" [formGroup]="dataForm" novalidate>
    <mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
          Informations [&nbsp;{{dataForm.get('nom').value}}&nbsp;{{dataForm.get('prenom').value}}&nbsp;]
        </mat-panel-title>
      </mat-expansion-panel-header>
    <div fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutAlign="center baseline">

      <mat-form-field fxFlex="20" fxFlexOffset="3">
        <input matInput placeholder="Nom*" formControlName="nom">
        <mat-error>Un nom est requis</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="20" fxFlexOffset="2">
        <input matInput placeholder="Prénom*" formControlName="prenom">
        <mat-error>Un prénom est requis</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="10" fxFlexOffset="2">

        <input matInput [matDatepicker]="day" placeholder="Date naissance*" (click)="day.open()" formControlName="date"
          [max]="maxDate" [min]="minDate">
        <mat-datepicker-toggle matSuffix [for]="day"></mat-datepicker-toggle>
        <mat-datepicker #day [startAt]="startDate"></mat-datepicker>
        <mat-error>La date de naissance est requise</mat-error>
      </mat-form-field>



      <mat-form-field fxFlex="4" fxFlexOffset="2">
        <mat-select placeholder="Sexe*" formControlName="sexe">
          <mat-option *ngFor="let s of meta.sexe" [value]="s">{{s}} </mat-option>
        </mat-select>
      </mat-form-field>
     

    </div>


    <div fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutAlign="center baseline" >

      <mat-form-field fxFlex="25" fxFlexOffset="3">
        <input matInput placeholder="Adresse*" formControlName="adresse">
        <mat-error>Adresse requise</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="8" fxFlexOffset="2">
        <input matInput #postalCode maxLength="5" placeholder="Code Postal*" formControlName="code_postal">
        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
        <mat-error>code postal invalide</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="20" fxFlexOffset="2">
        <input matInput placeholder="Ville*" formControlName="ville">
        <mat-error>La ville est requise</mat-error>
      </mat-form-field>

    </div>

    <div fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutAlign="center baseline"  >
      

      <mat-form-field fxFlex="18" fxFlexOffset="3">
        <input matInput placeholder="Email" formControlName="email1">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error>une adresse email valide est requise</mat-error>
        <mat-hint><strong>1/3 adresse email obligatoire*</strong></mat-hint>
      </mat-form-field>

      <mat-form-field fxFlex="18" fxFlexOffset="2">
        <input matInput placeholder="Email" formControlName="email2">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error>une adresse email valide est requise</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="18" fxFlexOffset="2">
        <input matInput placeholder="Email" formControlName="email3">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error>une adresse email valide est requise</mat-error>
      </mat-form-field>
    </div>

   


    <div fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutAlign="center baseline" >
      <mat-form-field fxFlex="18" fxFlexOffset="3">
        <input matInput placeholder="Télephone" formControlName="telephone1" maxlength="10">
        <mat-icon matSuffix>phone</mat-icon>
        <mat-hint align="start"><strong>1/3 numéro de tel. obligatoire*</strong> </mat-hint>
        <mat-error>un numéro de tel. valide est requis</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="18" fxFlexOffset="2">
        <input matInput placeholder="Télephone" formControlName="telephone2" maxlength="10">
        <mat-icon matSuffix>phone</mat-icon>
        <mat-error>un numéro de tel. valide est requis</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="18" fxFlexOffset="2">
        <input matInput placeholder="Télephone" formControlName="telephone3" maxlength="10" min="0">
        <mat-icon matSuffix>phone</mat-icon>
        <mat-error>un numéro de tel. valide est requis</mat-error>
      </mat-form-field>




    </div>

  </mat-expansion-panel>
  <mat-expansion-panel  [expanded]="true"  >
      <mat-expansion-panel-header>
      <mat-panel-title>
        Cotisations , Validation
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutAlign="center baseline">

      <mat-form-field fxFlex="6" fxFlexOffset="3">
        <mat-select placeholder="Type" formControlName="type">
          <mat-option *ngFor="let r of meta.type" [value]="r.value">{{r.name}} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="10" fxFlexOffset="1">
        <mat-select placeholder="Categorie*" formControlName="categorie">
          <mat-option></mat-option>
          <mat-option *ngFor="let r of meta.categorie" [value]="r.value">{{r.name}} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="5" fxFlexOffset="1">
        <mat-select placeholder="Rang*" formControlName="rang">
          <mat-option></mat-option>
          <mat-option *ngFor="let r of meta.rang" [value]="r">{{r}} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="6" fxFlexOffset="2">
        <mat-select placeholder="Officiel" formControlName="officiel">
          <mat-option></mat-option>
          <mat-option *ngFor="let r of meta.officiel" [value]="r">{{r}} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="10" fxFlexOffset="1">
        <input matInput placeholder="Licence" formControlName="licence">
      </mat-form-field>

      <mat-form-field fxFlex="6" fxFlexOffset="3">
        <input matInput placeholder="Cotis.*(€)" formControlName="cotisation" type="number" step="0.1"  maxlength="7">
        <mat-error>tarif requis</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="6" fxFlexOffset="1">
        <input matInput placeholder="Total (€)" class="cotisation" formControlName="total" maxlength="7">
      </mat-form-field>

      <section fxFlexOffset="1">
        <mat-checkbox formControlName="entr" color="accent">Entraineur</mat-checkbox>
      </section>

    </div>


   
    <div fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutAlign="center baseline" style='margin-top:20px' >
      <mat-form-field fxFlex="10" fxFlexOffset="3">
        <mat-select placeholder="Banque" formControlName="banque" >
          <mat-option *ngFor="let r of (banques$ | async ) " [value]="r.id"  [matTooltip]="r.value"  >{{r.id}}</mat-option>
        </mat-select>
      </mat-form-field>


      <div fxLayout="column" fxLayoutAlign="start start" fxFlexOffset="3">
        <mat-form-field fxFlex="5">
          <input matInput placeholder="Montant (€)" formControlName="cheque1" type="number" min="0">
        </mat-form-field>
        <mat-form-field fxFlex="10">
          <input matInput placeholder="Numéro" formControlName="num_cheque1">
        </mat-form-field>
      </div>

      <div fxLayout="column" fxLayoutAlign="start start" fxFlexOffset="3">
        <mat-form-field fxFlex="5">
          <input matInput placeholder="Montant (€)" formControlName="cheque2" type="number" min="0">
        </mat-form-field>
        <mat-form-field fxFlex="5">
          <input matInput placeholder="Numéro" formControlName="num_cheque2">
        </mat-form-field>
      </div>


      <div fxLayout="column" fxLayoutAlign="start start" fxFlexOffset="3">
        <mat-form-field fxFlex="5">
          <input matInput placeholder="Montant(€)" formControlName="cheque3" type="number" min="0">
        </mat-form-field>
        <mat-form-field fxFlex="5">
          <input matInput placeholder="Numéro" formControlName="num_cheque3">
        </mat-form-field>
      </div>

    </div>
 
    <div fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutAlign="center baseline" style='margin-top:20px' >
      <mat-form-field fxFlex="15" fxFlexOffset="3">
        <input matInput placeholder="Cheque sport(€)" formControlName="ch_sport" type="number" min="0">
      </mat-form-field>
      <mat-form-field fxFlex="15" fxFlexOffset="1">
        <input matInput placeholder="Numéro" formControlName="num_sport">
      </mat-form-field>
      <mat-form-field fxFlex="15" fxFlexOffset="1">
        <input matInput placeholder="Coupon sport(€)" formControlName="coup_sport" type="number" min="0">
      </mat-form-field>
      <mat-form-field fxFlex="15" fxFlexOffset="1">
        <input matInput placeholder="Numéro" formControlName="num_coupsport">
      </mat-form-field>
    </div>

    
    <div fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutAlign="center baseline" style='margin-top:20px' >

      <mat-form-field fxFlex="15" fxFlexOffset="3">
      <input matInput placeholder="Nb Ch.vacances * 10€" formControlName="nbre_chvac10" type="number" min="0">
      </mat-form-field>
      <mat-form-field fxFlex="15" fxFlexOffset="1">
      <input matInput placeholder="Nb Ch.vacances * 20€" formControlName="nbre_chvac20" type="number" min="0">
      </mat-form-field>
      <mat-form-field fxFlex="15" fxFlexOffset="1">
      <input matInput placeholder="Espèce €" formControlName="especes" type="number" min="0">
      </mat-form-field>
    </div>



    <div fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutAlign="center baseline">

      <mat-checkbox fxFlexOffset="1" formControlName="auto_parentale" color="primary">Auto.Parentale</mat-checkbox>
      <mat-checkbox fxFlexOffset="1" formControlName="fiche_medicale" color="primary">Fich.Médicale</mat-checkbox>
      <mat-checkbox fxFlexOffset="1" formControlName="photo" color="primary">Auto.Photo</mat-checkbox>
      <mat-checkbox fxFlexOffset="1" formControlName="reglement" color="primary">Réglement</mat-checkbox>
      
     

      <mat-checkbox fxFlexOffset="1" formControlName="cert_medical" color="primary" ><span
            style="color:green;font-weight: bold"  >Cert.Médical</span></mat-checkbox>
      
      <mat-checkbox *ngIf="dataForm.get('valide').value" fxFlexOffset="1" formControlName="paye" color="accent" matBadge="V" matBadgePosition="after" matBadgeColor="accent" ><span
            style="color:green;font-weight: bold"  >Payé</span></mat-checkbox>
      <mat-checkbox *ngIf="!dataForm.get('valide').value" fxFlexOffset="1" formControlName="paye" color="accent"  ><span
              style="color:green;font-weight: bold"  >Payé</span></mat-checkbox>
 
              


    </div>


    <div fxLayout="row" fxLayoutAlign="center baseline" style='margin-top:20px'>
      <mat-form-field fxFlex="75">
        <textarea matInput #comment type="text" formControlName="commentaires" placeholder="Commentaires">
            </textarea>
      </mat-form-field>
    </div>

    </mat-expansion-panel>
    <div fxLayout="row" fxLayoutAlign="center center" style="margin-top:8px;margin-bottom: 8px ">

      <button mat-raised-button color="primary" type="submit" [disabled]="dataForm.invalid"
        (click)="saveForm()">Valider</button>
      <button mat-raised-button color="primary" type="reset" fxFlexOffset='3' (click)="cancelForm()">Annuler</button>
    </div>


  </mat-accordion>
  </form>



</div>