<mat-tab-group fxLayout="column"  fxLayoutAlign="space-evenly center"   fxFlex="100%" >
<mat-tab label="Liste">
<div fxLayout="column"  fxLayoutAlign="space-evenly center"   fxFlex="100%" style="margin-top:20px" >
     
          <mat-progress-bar *ngIf="loading$ | async " mode="query"></mat-progress-bar>
     
    
    <div fxLayout="row" fxLayoutAlign="space-evenly center"  fxFlex="75%"  [formGroup]="dataForm">
       
      <mat-form-field  fxFlex="10%" >
           <mat-select placeholder="Bassin" (ngModelChange)="showRecord()" formControlName="fbassin"  >
              <mat-option  *ngFor="let item of bassin" [value]="item"  >
                  {{item}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      <mat-form-field fxFlex="15%" >
          <mat-select  placeholder="Nages" (ngModelChange)="showRecord()"  formControlName="fnages"  >
            <mat-option  *ngFor="let item of nages" [value]="item.value"  >
                {{item.label}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="15%" >
            <mat-select  placeholder="Distances" (ngModelChange)="showRecord()"  formControlName="fdists"  >
              <mat-option  *ngFor="let item of dists" [value]="item"  >
                  {{item}}
              </mat-option>
            </mat-select>
      </mat-form-field>
      <mat-form-field  fxFlex="15%"  >
              <mat-select  placeholder="Sexe" (ngModelChange)="showRecord()" formControlName="fsexe"  >
                 <mat-option  *ngFor="let item of sexe" [value]="item.value" >
                     {{item.label}}
                 </mat-option>
               </mat-select>
      </mat-form-field>
     
      <mat-checkbox (change)="showRecord()" formControlName="fmasters" >Masters</mat-checkbox>
      </div>


      <mat-list *ngIf="!(loading$ | async )"  dense>
          <mat-list-item style='margin-bottom:20px' class="mat-elevation-z8"  matRipple  [matRippleCentered]="centered" [matRippleColor]="warn" *ngFor="let item of datas">
             <button mat-mini-fab color="primary">{{item.age}}</button>
            <h4 mat-line> {{item.nom}}-{{item.prenom}}: {{item.temps}} ({{item.points}} pts)  </h4>
            <p mat-line> {{item.lieu}} {{item.date}} <mat-chip color="primary" selected>{{item.type}}</mat-chip></p>
          </mat-list-item>
          </mat-list>

 



</div>
</mat-tab>
<mat-tab label="Traitement">
    <div fxLayout="column"  fxLayoutAlign="space-evenly center"   fxFlex="100%" style="margin-top:20px" >
     traitement...</div>
    </mat-tab>
</mat-tab-group>

