.CLUB {
    background-color:green;color:white;
}
.DEP {
    background-color:rgb(42, 30, 212);color:white;
}
.REG {
    background-color:rgb(219, 28, 219);color:white;
}
.FRA {
    background-color:#4cf14c;color:black;
}