<div  fxLayout="column" *ngIf="data.mode === 'add' "  fxLayoutAlign="center center"  >
    
        <div mat-dialog-title>
        <p>{{data.info}}</p>
        </div>
    <form fxLayoutAlign="center center" fxLayout="column"  name="form" autocomplete="off" novalidate>
  
  

  
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-radio-group   class="mat-body-2" labelPosition='before' >
            <mat-radio-button  class='mrb'  value="av" (change)="filterLic($event.value)" >Avenirs</mat-radio-button>
            <mat-radio-button  class='mrb'  value="je" (change)="filterLic($event.value)" >Jeunes</mat-radio-button>
            <mat-radio-button  class='mrb'  value="ju" (change)="filterLic($event.value)" >Juniors</mat-radio-button>
            <mat-radio-button  class='mrb'  value="se" (change)="filterLic($event.value)" >Seniors</mat-radio-button>
            <mat-radio-button  class='mrb'  value="ma" (change)="filterLic($event.value)" >Masters</mat-radio-button>

          </mat-radio-group>
      </div>
 

      <mat-form-field fxLayout="column"   >
          <mat-select-trigger>
              <span *ngIf="lic.value?.length > 1" class="example-additional-selection">
                (+{{lic.value.length - 1}} {{lic.value?.length === 2 ? 'autre' : 'autres'}})
              </span>
            </mat-select-trigger>
          <mat-select placeholder="Licenciés" [formControl]="lic"  multiple>
            <mat-option *ngFor="let item of datasLic" [value]="item.id">{{item.nom}}-{{item.prenom}} ({{item.categorie}}-{{item.rang}})</mat-option>
          </mat-select>
        </mat-form-field>

  
      <div fxLayout="row" fxLayoutAlign="center center" style="margin-top:10px" >
       
        <button mat-raised-button [disabled]="lic.invalid"  (click)="update()" color="primary">Valider</button>
        &nbsp;
        <button mat-raised-button  [mat-dialog-close]="false" cdkFocusInitial     >Non</button>
      </div>
     
    
    </form>

</div>
      

<div  fxLayout="column" *ngIf="data.mode !== 'add' && data.mode !== 'modif' " >
      
              <div mat-dialog-title>
              <p>{{data.info}}</p>
              </div>
<div mat-dialog-actions>
<button mat-raised-button color="primary" [mat-dialog-close]="true"   >Oui</button>
<button mat-raised-button  [mat-dialog-close]="false" cdkFocusInitial     >Non</button>
</div>

  
    
    </div>


<div  fxLayout="column" *ngIf="data.mode === 'modif' " >
      
    <mat-card style="max-width:80%" >
        <mat-card-header>
    
          <mat-card-title>[Modif] {{data.item.nom}} {{data.item.prenom}} {{data.item.categorie}}{{data.item.rang}}</mat-card-title>
          <mat-card-subtitle *ngIf="data.item.date_reponse" >{{data.item.date_reponse }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div  style='display: inline-block;margin:0 auto;' *ngFor="let node of data.item.eng;" [ngSwitch]="node.presence" >
                <button *ngSwitchCase="'non'"   matTooltip="absent" style='background-color:red;color:white' (click)="next(node.day , 'non')" mat-mini-fab>{{node.day}}</button>
                <button *ngSwitchCase="'oui'"  matTooltip="présent"  style='color:white;background-color:green' (click)="next(node.day , 'oui')"  mat-mini-fab>{{node.day}}</button>
                <button *ngSwitchDefault  matTooltip="en attente" style='background-color:lightskyblue' (click)="next(node.day , '')"  mat-mini-fab>{{node.day}}</button>
                &nbsp;
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)='saveModif()'  >Valider</button>
            <button mat-raised-button  [mat-dialog-close]="false" (click)='cancelModif()'  cdkFocusInitial     >Annuler</button>
          
        </mat-card-actions>
      </mat-card>

</div>