<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" *ngIf="!(layoutChanges | async)?.matches" >
        <mat-icon>menu</mat-icon>
      </button>
  Competitions
  
     
 
      <div *ngIf="!dataSelected" fxHide.lt-md="true"  fxLayout="column"  fxFlex="100" fxLayoutAlign="center center" style='margin-top: 10px'  >
 

        <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center"  style='font-size: 14px'   >
  
      <mat-form-field fxFlex="25" fxFlexOffset="3" >
      <mat-label>Dates</mat-label>
      <mat-select [(ngModel)]="filtre.next" name="date" (ngModelChange)="subject$.next(filtre)" >
        <mat-option *ngFor="let date of dates" [value]="date.value">
          {{date.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="25" fxFlexOffset="3" >
      <mat-label>Etat</mat-label>
      <mat-select [(ngModel)]="filtre.verif" name="etat" (ngModelChange)="subject$.next(filtre)" >
        <mat-option *ngFor="let etat of etats" [value]="etat.value">
          {{etat.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="25" fxFlexOffset="3" >
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="filtre.type" name="type" (ngModelChange)="subject$.next(filtre)" >
        <mat-option *ngFor="let type of types" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select
    </mat-form-field>


        </div>
      </div>

</mat-toolbar>

<app-competitions-edit  *ngIf="dataSelected" [data]='dataSelected' (quitte)='dataSelected=null' ></app-competitions-edit>

<mat-sidenav-container  style='height: 100vh;'  *ngIf="!dataSelected" >
    <mat-sidenav color="primary" #sidenav style='height: 100vh;' fxLayout="column" mode="over" opened="false" *ngIf="!(layoutChanges | async)?.matches"  >
      <div fxLayout="column" fxLayoutAlign="center center"  >
          <mat-form-field style='width:60%;margin-top:5px;'  >
              <mat-label>Dates</mat-label>
              <mat-select [(ngModel)]="filtre.next" name="date" (ngModelChange)="subject$.next(filtre)"  >
                <mat-option *ngFor="let date of dates" [value]="date.value">
                  {{date.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field style='width:60%'  >
                <mat-label>Etat</mat-label>
                <mat-select [(ngModel)]="filtre.verif" name="etat" (ngModelChange)="subject$.next(filtre)"  >
                  <mat-option *ngFor="let etat of etats" [value]="etat.value">
                    {{etat.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          
              <mat-form-field style='width:60%'  >
                <mat-label>Type</mat-label>
                <mat-select [(ngModel)]="filtre.type" name="type" (ngModelChange)="subject$.next(filtre)"  >
                  <mat-option *ngFor="let type of types" [value]="type.value">
                    {{type.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
    
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
   
  <div *ngIf="!dataSelected" fxLayout="column" fxFlex="85" style='margin: auto;height: 100vh;' >

    <mat-list fxLayout="column"  fxLayoutAlign="center center" >
      <h2 mat-subheader>Les compétitions</h2>
      <mat-list-item *ngFor="let data of filteredStates$ | async ; last as last" (click)="edit(data)" style='margin-bottom:20px'
        class="mat-elevation-z8" matRipple [matRippleCentered]="centered" [matRippleColor]="warn">
        <button mat-icon-button *ngIf="data.nb === 0" color="warn" (click)="delete(data);$event.stopPropagation()">
          <mat-icon>delete</mat-icon>
        </button>

     
        <mat-icon *ngIf="data.type === 'compet' && data.nb > 0" matListIcon color='primary' [matBadge]="data.nb"
          [svgIcon]="data.verif  ? 'swimvalid' : 'swiminvalid' "></mat-icon>
        <mat-icon *ngIf="data.type === 'compet' &&  data.nb === 0" matListIcon color='primary'
          [svgIcon]="data.verif  ? 'swimvalid' : 'swiminvalid' "></mat-icon>
        <mat-icon *ngIf="data.type === 'stage' && data.verif  "   matTooltip="stage" matListIcon color='primary' [matBadge]="data.nb > 0 ? data.nb : '' "   >waves</mat-icon>
        <mat-icon *ngIf="data.type === 'stage' && !data.verif  "  matTooltip="stage" matListIcon color='warn' >waves</mat-icon>
        




        <p style="font-weight:500"   matLine>
          <span   class="demo-secondary-text" >{{data.nom}}</span>
        </p>

        <p matLine [ngSwitch]=" data.debut !== data.fin ">
          <span *ngSwitchCase="true">{{data.debut | date:'dd' }} au {{data.fin | date:'dd MMM' }}&nbsp;{{data.lieu}}</span>
          <span *ngSwitchCase="false">{{data.debut | date:'dd MMM' }}&nbsp;{{data.lieu}}</span>
        </p>
      </mat-list-item>
    </mat-list>
  </div>
  <div>
    <button mat-mini-fab color="accent" class="add-button" (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-sidenav-content>
</mat-sidenav-container>

<!--
<div *ngIf="dataSelected">
  <app-competitions-edit [data]="dataSelected" (quitte)="onQuitte($event)"></app-competitions-edit>
</div>
-->