<div  fxLayout="column" >

  <form style='margin-top:10px' name="form" autocomplete="off" [formGroup]="dataForm" novalidate>


    <div fxLayout="row" fxLayoutAlign="center center">

      <mat-checkbox class="example-margin" >Avenirs</mat-checkbox>&nbsp;
      <mat-checkbox class="example-margin" >Jeunes</mat-checkbox>&nbsp;
      <mat-checkbox class="example-margin" >Juniors</mat-checkbox>&nbsp;
      <mat-checkbox class="example-margin" >Seniors</mat-checkbox>&nbsp;
      <mat-checkbox class="example-margin" >Masters</mat-checkbox>&nbsp;
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" style="margin-top:10px" >
      <button mat-raised-button color="primary">Primary</button>
    </div>
    </form>
    </div>
