.leaflet-default-icon-path {
    background-image: url('/assets/marker-icon.png');
}

.leaflet-default-shadow-path {
    background-image: url('/assets/marker-shadow.png');
}


#mapid {  
height:70vw;
width:95vw; 

}

.waze {
    background: url(/assets/images/waze.png) 50% 50% no-repeat;
    background-size: 24px 24px;
    border-radius:0px!important;
    -moz-border-radius:0px!important;
    -webkit-border-radius:0px!important;
    -ms-border-radius:0px!important;
    -o-border-radius:0px!important;
  }

