.oui{
background-color: green;
color:white    
}
.non{
background-color: red;
color:white    
}
.at{
background-color:cornflowerblue;
color:white;
}
.chk_at {
    margin: 0 10px;
    color:cornflowerblue;
    font-weight: bold;
    font-size: 14px;
  }
  .chk_non {
    margin: 0 10px;
    font-size: 14px;
    color:red;
    font-weight: bold;
  }
  .chk_oui {
    margin: 0 10px;
    color:green;
    font-weight: bold;
    font-size: 14px;
  }
 .matselect-xl{
  width: 800px;
  margin-left: 10px;
  margin-right: 10px;
 } 
 .matselect-lg{
  width: 600px;
  margin-left: 10px;
  margin-right: 10px;
  
} 
.matselect-md{
  width: 400px;
  margin-left: 10px;
  margin-right: 10px;
  } 
.matselect-sm{
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
  }
.matselect-xs{
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
  }
  
