<div fxLayout="column" fxLayoutAlign="center center" style="margin-top: 10px;">
  <mat-progress-bar *ngIf="loading$ | async" mode="query"></mat-progress-bar>
  <div fxLayout="row" style="margin-top: 10px;">

    <mat-form-field [ngStyle]="{'width': '600px','margin-left': '10px', 'margin-right':'10px' }" [ngStyle.lt-md]="{'width': '320px','margin-left' :'5px', 'margin-right' :'5px'}">
      <mat-select placeholder="Selection des compétitions" (ngModelChange)="getEngagements($event)" [formControl]="dataForm">
        <mat-option *ngFor="let item of datas  ; last as last" [value]="item.id">
          {{item.id}} - {{item.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
</div>


<mat-grid-list cols="3" gutterSize="1px" rowHeight="3:1"  *ngIf="!(loading$ | async )"  >
  <mat-grid-tile  *ngFor="let item of engs" colspan="1" rowspan="1"   >
      <mat-card style="width:75%" >
          <mat-card-header>
           
            <mat-card-title style="font-size: 14px">&nbsp;{{item.prenom}} {{item.nom}}: {{item.categorie}}{{item.rang}}&nbsp;
             </mat-card-title>
            <mat-card-subtitle *ngFor="let node of item.eng;" [ngSwitch]="node.presence" style="text-align: right;">
              <button mat-mini-fab *ngSwitchCase="'non'" color="warn"  ><s>{{node.day}}</s></button>
              <button mat-mini-fab *ngSwitchCase="'oui'" style='background-color: green'>{{node.day}}</button>
              <button mat-mini-fab *ngSwitchDefault color="primary" >{{node.day}}?</button>

            </mat-card-subtitle>
          </mat-card-header>
        

         
        </mat-card>
  </mat-grid-tile>
</mat-grid-list>