<mat-toolbar color="primary">Les compétitions &nbsp;&nbsp; <mat-checkbox  [checked]="true" (change)="setFilter($event)" >Futures</mat-checkbox>
</mat-toolbar>





  <div style='margin: 0 auto;width:75%' >
    <mat-list>
      
      <mat-list-item *ngFor="let data of datas$ | async ; last as last" (click)="edit(data)" style='margin-bottom:20px;'
        class="mat-elevation-z8" matRipple [matRippleCentered]="centered" [matRippleColor]="warn">
   

     
        <mat-icon *ngIf="data.type === 'compet'" [svgIcon]="'swimok'"   matListIcon matBadgeColor="warn"  [matBadge]="data.nb > 0 ? data.nb : '' "
          ></mat-icon>
       
        <mat-icon *ngIf="data.type === 'stage'"  matTooltip="stage" matListIcon color='primary' [matBadge]="data.nb > 0 ? data.nb : '' "   >waves</mat-icon>
        

        <p style="font-weight:500"   matLine>
          <span   class="demo-secondary-text" >{{data.lieu}} : {{data.nom}}</span>
        </p>

        <p matLine [ngSwitch]=" data.debut !== data.fin ">
          <span *ngSwitchCase="true">{{data.debut | date:'dd' }} au {{data.fin | date:'dd MMM' }}</span>
          <span *ngSwitchCase="false">{{data.debut | date:'dd MMM' }}</span>
        </p>
      </mat-list-item>
    </mat-list>
  </div>


