<app-edit *ngIf="edited" [item]="item"  (hideForm)='edited=false' ></app-edit>
<div fxFlex="100" fxLayout="column"  style='margin-top: 10px' *ngIf="!edited" >
 

    <div fxLayout="row" fxFlex="90" fxLayoutAlign="start center"  style='font-size: 13px'>
        <mat-form-field fxFlex="35" fxFlexOffset="3" >
            <input   matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre">
          </mat-form-field>

        <mat-form-field fxFlex="5" fxFlexOffset="3" >
        <mat-select placeholder="Payé"  color="primary" >
            <mat-option></mat-option>
            <mat-option value="0" >Non</mat-option>
            <mat-option value="1">Oui</mat-option>
          </mat-select>
        </mat-form-field>
          <mat-form-field fxFlex="6" fxFlexOffset="3" >
          <mat-select placeholder="C.médical"  color="primary" >
              <mat-option></mat-option>
              <mat-option value="0" >Non</mat-option>
              <mat-option value="1">Oui</mat-option>
            </mat-select>
          </mat-form-field>


            <mat-form-field fxFlex="6" fxFlexOffset="3" >
          <mat-select placeholder="F.médical"  color="primary" >
              <mat-option></mat-option>
              <mat-option value="0" >Non</mat-option>
              <mat-option value="1">Oui</mat-option>
            </mat-select>
          </mat-form-field>

            <mat-form-field fxFlex="7" fxFlexOffset="3" >
          <mat-select placeholder="A.parentale"  color="primary" >
              <mat-option></mat-option>
              <mat-option value="0" >Non</mat-option>
              <mat-option value="1">Oui</mat-option>
            </mat-select>
            </mat-form-field>

            <button fxFlexOffset="3"  mat-mini-fab color="primary"  (click)="editForm(null)"  >
            <mat-icon>add</mat-icon>
            </button>

          </div>

   

 <div>
 
  <table mat-table [dataSource]="dataSource" matSort>

 

    <!-- Progress Column -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
      <td mat-cell *matCellDef="let row">{{row.nom}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="prenom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Prenom</th>
      <td mat-cell *matCellDef="let row">{{row.prenom}}</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="ville">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ville</th>
      <td mat-cell *matCellDef="let row">{{row.ville}}</td>
    </ng-container>


    <!-- Color Column -->
    <ng-container matColumnDef="categorie">
      <th mat-header-cell *matHeaderCellDef >
          <mat-form-field style='width:78px' >
              <mat-select placeholder="Catégories"  color="primary" [(ngModel)]="myfilter.categorie"   (ngModelChange)="toFilter($event)"  >
                  <mat-option></mat-option>
                  <mat-option value="AV" >Avenirs</mat-option>
                  <mat-option value="JE">Jeunes</mat-option>
                  <mat-option value="SE">Seniors</mat-option>
                  <mat-option value="MA">Masters</mat-option>
                </mat-select>
              </mat-form-field>
        </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.categorie">{{row.categorie}}</td>
    </ng-container>

   <!-- Name Column -->
   <ng-container matColumnDef="rang">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Rang</th>
    <td mat-cell *matCellDef="let row">{{row.rang}}</td>
  </ng-container>

   <!-- Name Column -->
   <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 
          <mat-form-field style="width:50px;" >
          <mat-select placeholder="Type"  color="primary" [(ngModel)]="myfilter.type"   (ngModelChange)="toFilter($event)"  >
              <mat-option></mat-option>
              <mat-option value="R" >Renouvellement</mat-option>
              <mat-option value="N">Nouveau</mat-option>
            </mat-select>
           </mat-form-field></th>
      <td mat-cell *matCellDef="let row">{{row.type}}</td>
    </ng-container>



  <!-- Name Column -->
  <ng-container matColumnDef="sexe">
   
    <th mat-header-cell *matHeaderCellDef   >  
        <mat-form-field style="width:50px;" > 
      <mat-select placeholder="Sexe"  color="primary"  [(ngModel)]="myfilter.sexe"   (ngModelChange)="toFilter($event)" >
        <mat-option></mat-option>
        <mat-option value="F" >Femme</mat-option>
        <mat-option value="H" >Homme</mat-option>
      </mat-select>
      </mat-form-field>

   </th>
    <td mat-cell *matCellDef="let row">{{row.sexe}}</td>
  </ng-container>
<!-- Name Column -->
<ng-container matColumnDef="officiel">
    <th mat-header-cell *matHeaderCellDef   >  
        <mat-form-field style="width:50px"> 
      <mat-select placeholder="Off"  color="primary" [(ngModel)]="myfilter.officiel"   (ngModelChange)="toFilter($event)" >
        <mat-option></mat-option>
        <mat-option value="A" >A</mat-option>
        <mat-option value="B">B</mat-option>
        <mat-option value="C">C</mat-option>
      </mat-select>
      </mat-form-field>

   </th>
    <td mat-cell *matCellDef="let row">{{row.officiel}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="cotisation">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cotisation</th>
    <td mat-cell *matCellDef="let row">{{row.cotisation}}€</td>
  </ng-container>

  <ng-container matColumnDef="valide">
      <th mat-header-cell *matHeaderCellDef   >  
          <mat-form-field style="width:70px" >
              <mat-select placeholder="Valide"  color="primary" [(ngModel)]="myfilter.valide"   (ngModelChange)="toFilter($event)" >
                  <mat-option></mat-option>
                <mat-option value="true" >Oui</mat-option>
                <mat-option value="false" >Non</mat-option>
              </mat-select>
            </mat-form-field>
  
     </th>
    <td mat-cell *matCellDef="let row" >
    <mat-icon *ngIf="row.valide" color='primary' >done</mat-icon>
    <mat-icon *ngIf="!row.valide" color='warn' >highlight_off</mat-icon>
  </ng-container>


   <!-- ID Column -->
   <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
    <td mat-cell *matCellDef="let row"> 
      <mat-icon color='primary'  (click)="editForm(row)" >edit</mat-icon>&nbsp;&nbsp;   
      <mat-icon color='primary' (click)="deleteForm(row.id)" >delete</mat-icon>
  </td>
  </ng-container>

  


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
 
  <mat-paginator #paginator
  [showFirstLastButtons]=true
  [length]="dataSource?.datas?.length"
  [pageIndex]="0"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10 ,25]">
</mat-paginator>
