<mat-toolbar color="primary"  >
      <div *ngIf="!(layoutChanges | async)?.matches"  >
    <mat-menu #appMenu="matMenu" >

  
        <button mat-menu-item  routerLink="/licencies" ><mat-icon>account_circle</mat-icon><span  >&nbsp;Licencies</span></button>
        <button mat-menu-item  routerLink="/competitions" ><mat-icon>pool</mat-icon>&nbsp;Competitions</button>
        <button mat-menu-item  routerLink="/engagements" ><mat-icon>airport_shuttle</mat-icon>&nbsp;Engagements</button>  
        <button mat-menu-item routerLink="/mailto" ><mat-icon>email</mat-icon>&nbsp;Mailto</button>
        <button mat-menu-item  routerLink="/records" ><mat-icon>timer</mat-icon>&nbsp;Records</button>
        <button mat-menu-item  routerLink="/piscines" ><mat-icon>gps_fixed</mat-icon>&nbsp;Piscines</button>
      </mat-menu>
      
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
        ECN  {{title | async}}
      </button>
    </div>
    <div fxFlex="100"  fxLayout="row"  fxLayoutAlign="start center" *ngIf="(layoutChanges | async)?.matches" >
        <div fxFlex="60"     fxLayoutAlign="start center" fxLayoutGap="5px"  >
        
        
        <button mat-raised-button color="primary"  class='cuttextmenu' style='max-width: 125px;min-width: 125px;' matTooltip="Licenciés" routerLink="/licencies" ><mat-icon>account_circle</mat-icon>&nbsp;Licencies</button>
        <button mat-raised-button color="primary"  class='cuttextmenu' style='max-width: 105px;min-width: 105px;' matTooltip="Niveau" routerLink="/niveau" ><mat-icon>account_circle</mat-icon>&nbsp;Niveau</button>
        <button mat-raised-button color="primary" class='cuttextmenu' style='max-width: 145px;min-width: 145px;' matTooltip="Compétitions" routerLink="/competitions" ><mat-icon>pool</mat-icon>&nbsp;Competitions</button>
        <button mat-raised-button color="primary" class='cuttextmenu' style='max-width: 148px;min-width: 148px;' matTooltip="Engagements" routerLink="/engagements" ><mat-icon>airport_shuttle</mat-icon>&nbsp;Engagements</button>  
        <button mat-raised-button color="primary" class='cuttextmenu' style='max-width: 100px;min-width: 100px;' matTooltip="Mailto" routerLink="/mailto" ><mat-icon>email</mat-icon>&nbsp;Mailto</button>
        <button mat-raised-button color="primary" class='cuttextmenu' style='max-width: 115px;min-width: 115px;' matTooltip="Records" routerLink="/records" ><mat-icon>timer</mat-icon>&nbsp;Records</button>
        <button mat-raised-button color="primary" class='cuttextmenu' style='max-width: 120px;min-width: 120px;' matTooltip="Piscines" routerLink="/piscines" ><mat-icon>gps_fixed</mat-icon><span style='width:350px' >&nbsp;Piscines</span></button>
        

        
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/admin"  >
              <mat-icon>settings</mat-icon>
              <span>Administration</span>
            </button>
          </mat-menu>
        
        </div>
  
        <div  fxFlexOffset="20"  fxFlex="20"    fxLayoutAlign="end center"  >
         
        <button mat-raised-button color="primary"  routerLink="/login" >
          <mat-icon>exit_to_app</mat-icon>
          Quitter</button>
           
        </div>
  
  
    </div> 
  </mat-toolbar>
  <div>
    <router-outlet></router-outlet>
 </div>