.cuttextmenu {
    max-width: 130px;
    min-width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    _font-size: 12px;
}


.logoecn {

    display: inline-block;
    position: relative;
    width: 100%;
    _padding-bottom: 100%;
    _vertical-align: middle;
    _overflow: hidden;
    margin-top:10%;
    //margin: auto;
    text-align:center;

    
   

}

