<mat-toolbar color="primary"  >
    <div fxFlex="100"  fxLayout="row"  fxLayoutAlign="start center" >
        <div fxFlex="60"     fxLayoutAlign="start center" fxLayoutGap="5px"  >
        
        <button mat-raised-button color="primary"  routerLink="/licencies" ><mat-icon>account_circle</mat-icon>&nbsp;Licencies</button>
        <button mat-raised-button color="primary"  routerLink="/competitions" ><mat-icon>pool</mat-icon>&nbsp;Competitions</button>
        <button mat-raised-button color="primary"  routerLink="/engagements" ><mat-icon>airport_shuttle</mat-icon>&nbsp;Engagements</button>  
        <button mat-raised-button color="primary"  routerLink="/mailto" ><mat-icon>email</mat-icon>&nbsp;Mailto</button>
        <button mat-raised-button color="primary"  routerLink="/records" ><mat-icon>timer</mat-icon>&nbsp;Records</button>
        <button mat-raised-button color="primary"  routerLink="/piscines" ><mat-icon>gps_fixed</mat-icon>&nbsp;Piscines</button>
        

        
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/admin"  >
              <mat-icon>settings</mat-icon>
              <span>Administration</span>
            </button>
          </mat-menu>
        
        </div>
  
        <div  fxFlexOffset="20"  fxFlex="20"    fxLayoutAlign="end center"  >
         
        <button mat-raised-button color="primary"  routerLink="/login" >
          <mat-icon>exit_to_app</mat-icon>
          Disconnect</button>
           
        </div>
  
  
    </div> 
  </mat-toolbar>
  <div>
    <router-outlet></router-outlet>
 </div>