.leaflet-default-icon-path {
    background-image: url('/assets/marker-icon.png');
}

.leaflet-default-shadow-path {
    background-image: url('/assets/marker-shadow.png');
}


#mapid {  
height:70vw;
width:95vw; 

}

