<div style='margin-top:20px' >
      <button mat-mini-fab color="accent" style='position :fixed;right:100px;z-index:1001' class="add-button"  routerLink="add" >
        <mat-icon>add</mat-icon>
      </button>
            
      <div leaflet style="height: 100vh ;width: 95vw;"  [leafletOptions]="options" 
      [leafletMarkerCluster]="markerClusterData"
      (leafletMapReady)="onMapReady($event)"
      (leafletMarkerClusterReady)="markerClusterReady($event)"
      [leafletMarkerClusterOptions]="markerClusterOptions"
      (leafletMapMoveEnd)="refreshData()"
       >
      </div>
  </div> 

