
  <div class="example-sidenav-content_ "   fxLayout="column"  fxLayoutAlign="center center"  style='max-height: 500px;'    style="margin-top: 10px;" >
       
      
    <div   fxLayout="row" fxLayoutAlign="center  center"    >
      <mat-form-field fxFlex="75%"  >
          <mat-select placeholder="From"   formControlName="from" >
              <mat-option>-</mat-option>
            </mat-select>
        </mat-form-field>
    </div>


    <div   fxLayout="row" fxLayoutAlign="center  center"  >
    
  
      <div id="mapid"></div>

</div>


</div>